

header {
    background-color: $colorBackgroundDefault;
    color: $colorWhite;
    @include mobile {
        background-color: transparent;
        position: absolute;
        width: 100%;
        &.header-institucional {
            background-color: $colorWhite;
            position: relative;
        }
    }
    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    &.header-institucional .navbar-light .navbar-toggler-icon{
        width: 41px;
        height: 41px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,102,140)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .header {
        @include font-std(16px, $colorWhite, 300, $fontPrimary);
        .icon {
            font-size: 20px;
            color: $colorWhite;
        }
        .icon-user {
            font-size: 27px;
        }
        &--btn-search,&--input-search {
            border: none;
            background: none;
            &::placeholder {
                color: $colorWhite;
            }
        }
        &--menu {
            background-color: $colorWhite;
            padding: 30px 0;
            a {
                color: $colorBackgroundDefault;
                font-size: 15px;
                padding: 8px;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
            .subnav {
                position: absolute;
                top: 47px;
                display: none;
                align-items: center;
                justify-content: start;
                a {
                    font-weight: 400;
                }
            }
        }
        .menu-mobile {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: $colorBackgroundDefault;
            width: 100vw;
            height: 160vh;
            z-index: 99;
            padding: 0 3em;
            .icon-close-search {
                padding: 35px 0;
                padding-bottom: 25px;
                font-size: 27px;
            }
            .items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    @include font-std(24px, $colorWhite, 500, $fontPrimary);
                    line-height: 1.2;
                }
                i {
                    -webkit-transition: -webkit-transform .4s ease-in-out;
                    -ms-transition: -ms-transform .4s ease-in-out;
                    transition: transform .4s ease-in-out;
                }
                &[aria-expanded="true"] {
                    i{
                        transform:rotate(180deg);
                        -ms-transform:rotate(180deg);
                        -webkit-transform:rotate(180deg);
                    }
                }
            }
            .sub-items {
                padding-left: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    @include font-std(20px, $colorWhite, 300, $fontPrimary);
                }
                i {
                    transform: rotate(270deg);
                }
            }
            ul {
                padding-top: 10px;
            }
            li {
                padding: 10px 0;
            }
            .first-layer {
                padding: 15px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.31);
            }
            .icon-arrow-down {
                font-size: 8px;
                color:$colorWhite;
            }

            &--input {
                padding: 15px 10px !important;
                border-bottom: 1px solid rgba(255,255,255,0.31);
                width: 100%;
                input {
                    width: 100%;
                    @include font-std(16px, $colorWhite, 400, $fontPrimary);
                    background-color: transparent;
                    border: none;
                    &::placeholder {
                        color:$colorWhite;
                    }
                    &:focus {
                        background-color: transparent;
                    }
                }
            }
            &--ropape {
                margin: 20px 0;
                i {
                    font-size: 20px;
                }
            }
            &--user {
                @include font-std(14px, $colorWhite, 400, $fontPrimary);
                padding: 11px;
                border: 1px solid #fff;
                i {
                    font-size: 18px;
                }
            }
        }
    }
    .psicanalistas-link {
        color: $colorWhite;
    }
    .btn-font-size {
        border-radius: 1px;
    }
    
    .psicanalistas {
        display: none;
        height: 250px;
        background: $colorWhite;
        top: 64px;
        position: absolute;
        z-index: 999999;
        left: 0;
        opacity: 0.99;
        right: 0;
        &--title {
            @include font-std(40px, $colorBackgroundDefault, 400, $fontSecond);
            padding: 18px 0;
        }
        i {
            @include font-std(38px, $colorBlack, 400, $fontSecond);
            cursor: pointer;
        }
        input {
            @include font-std(16px, $colorBlack, 400, $fontPrimary);
            border: 1px solid #000000;
            box-sizing: border-box;
            padding: 14px 0 14px 10px;
            &::placeholder {
                color:$colorBlack;
            }
            &:focus {
                background-color: transparent;
            }
        }
        .btn-default {
            text-align: center;
            margin: 0;
            margin-left: 18px;
        }
    }

    .search {
        display: none;
        background: $colorWhite;
        top: 64px;
        position: absolute;
        z-index: 999999;
        left: 0;
        right: 0;
        opacity: 0.99;
        &--title {
            @include font-std(40px, $colorBackgroundDefault, 400, $fontSecond);
            padding: 18px 0;
        }
        &--container {
            height: 250px;
            display: flex;
            align-items: center;
        }
        i {
            @include font-std(38px, #72787C, 400, $fontSecond);  
            cursor: pointer;
        }
        input {
            @include font-std(38px, #72787C, 400, $fontSecond);
            border: none;
            padding: 14px 0 14px 10px;
            &::placeholder {
                color: #72787C;
            }
            &:focus {
                background-color: transparent;
            }
        }
        .btn-default {
            text-align: center;
            margin: 0;
            margin-left: 18px;
        }
    }
}