

.webdoor {
    background-image: url("../images/webdoor.jpg");
    background-size: cover;
    height: 321px;
    @include mobile {
        background-image: url("../images/webdoor-mobile.jpg");
        height: 420px;
    }
    &--menu {
        padding: 30px 0;
        a {
            font-size: 15px;
            padding: 8px;
            font-weight: bold;
        }
    }
    &--content {
        height: 323px;
    }
    &--title {
        @include font-std(40px, $colorWhite, 400, $fontSecond);
        padding-top: 3em;
        padding-bottom: 23px;
        @include mobile {
            font-size: 29px;
            line-height: 1.3;
            letter-spacing: 0.7px;
            padding: 1em 0;
        }
    }
    .icon-arrow-down {
        font-size: 24px;
        padding-top: 25px;
        color: $colorWhite;
    }
    &--box {
        width: 367px;
        height: 221px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $colorWhite;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateY(100px);
        p {
            @include font-std(28px, #0C4DA1, 400, $fontSecond);
            padding: 5px;
            text-align: center;
            line-height: 34px;
            @include mobile {
                font-size: 20px;
            }
        }

    }
}

.next-events {
    .tab-blue-default {
        width: 168px;
        margin: 70px 0 0;
        height: 10px;
        background: $colorBlueDefault;
    }
    &--title {
        @include font-std(40px, $colorBackgroundDefault, 400, $fontSecond);
        padding: 63px 0;
        @include mobile {
            font-size: 28px;
        }
    }
    &--main {
        display: flex;
        justify-content: center;
        .card {
            border: 0;
            background: $colorBackgroundThumb;
        }
        img {
            border-radius: 0;
        }
        hr {
            width: 80%;
            margin: 25px 0;
            border: 0.5px solid #70707085;
        }
        .btn-default {
            margin: 50px 0;
            text-align: center;
        }
    }
    &--box-date {
        @include font-std(22px, $colorBackgroundDefault, 900, $fontPrimary);
        text-align: center;
        border-right: 2px solid $colorBackgroundDefault;
        padding-right: 10px;
    }
    &--box-title {
        @include font-std(22px, $colorBackgroundDefault, 400, $fontSecond);
        padding-left: 10px;
        @include mobile {
            font-size: 20px;
        }
    }
    &--box-item {
        @include font-std(12px, #707070, 400, $fontPrimary);
        padding: 0 5px;
        i {
            font-size: 20px;
            color: $colorBackgroundDefault;
            padding: 0 5px;
        }
    }
    &--sidebar {
        text-align: center;
        &--container {
            border: 0.5px solid $colorBackgroundThumb;
        }
        .tab-blue-default {
            width: 100%;
            margin: 0;
        }
        .next-course {
            &--item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &--date {
                @include font-std(16px, #707070, 400, $fontPrimary);
                padding-bottom: 12px;
            }
            &--title {
                @include font-std(22px, $colorBackgroundDefault, 400, $fontSecond);
            }
            hr {
                width: 60%;
            }
            .btn-default {
                margin: 30px 0 19px;
            }
        }
    }
    @include mobile {
        padding-top: 40px;
    }
}

.links-mobile {
    text-align: center;
    padding: 30px 0;
    &--title {
        @include font-std(22px, $colorBackgroundDefault, 500, $fontSecond);
        padding: 40px 0;
        line-height: 1.3;
    }
}

.latest-posts {
    background-color: $colorBlueDefault;
    text-align: center;
    &--title {
        @include font-std(40px, $colorWhite, 400, $fontSecond);
        padding: 63px 0;
        @include mobile {
            font-size: 28px;
        }
    }
    &--img {
        position: relative;
    }
    &--img-opacity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: left;
        padding: 0 36px;
        opacity: 0;
        line-height: 1.3;   
        background: rgba(0, 102, 140, 0.79);
        width: 209px;
        height: 301px;
        left: 38px;
        top: 15px;
        &:hover {
            opacity: 1;
        }
        .caption {
            @include font-std(16px, $colorWhite, 400, $fontPrimary);
            padding: 26px 0 40px;
            line-height: 2;
            b {
                @include font-std(22px, $colorWhite, 400, $fontSecond);
                line-height: 1;
            }
        }
        .link {
            @include font-std(14px, $colorWhite, 400, $fontSecond);
            text-decoration: underline;
        }
    }
    .btn-default {
        text-align: center;
        background-color: $colorWhite;
        color: $colorBlueDefault;
        margin: 30px 0 63px;
        &:hover {
            
        }
    }
}

.latest-posts-twitter {
    background-color: $colorWhite;
    text-align: center;
    &--title {
        @include font-std(40px, $colorBackgroundDefault, 400, $fontSecond);
        padding: 63px 0;
    }

    &--card {
        border: 1px solid $colorBackgroundThumb;
        width: 367px;
        height: 290px;
        padding: 17px 60px;
        a {
            @include font-std(18px, #0EB0EF, 400, $fontPrimary);
            text-decoration: underline;
        }
    }

    &--user {
        @include font-std(20px, #0EB0EF, 400, $fontPrimary);
    }
    &--text {
        @include font-std(18px, #978585, 400, $fontPrimary);
    }

    &--days {
        @include font-std(12px, #978585, 400, $fontPrimary);
    }

    .icon-twitter {
        color: #0EB0EF;
        font-size: 20px;
    }
    .btn-default {
        text-align: center;
        margin: 60px 0;
    }

}

.videos {
    background: rgb(235,235,235);
    background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(235,235,235,1) 72%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
    text-align: center;
    &--title {
        @include font-std(40px, $colorBackgroundDefault, 400, $fontSecond);
        padding: 72px 0;
        @include mobile {
            font-size: 28px;
        }
    }

    .btn-default {
        text-align: center;
        margin: 60px 0;
    }
    .video-play {
        position: relative;
        padding: 0;
        box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.25);
        img {
            width: 100%;
            height: 647px;
            @include mobile {
                height: 269px;
            }
        }
        .slick-next {
            border: 1px solid #C0C0C0;
            right: 0px;
            top: -27px;
            z-index: 999999;
            height: 55px;
            width: 55px;
            &:before {
                color: $colorBackgroundDefault;
                transform: rotate(180deg);
                margin-top: 13px;
                margin-left: 2px;
            }
        }
        .slick-prev {
            border: 1px solid #C0C0C0;
            right: 54px;
            left: unset;
            top: -27px;
            z-index: 999999;
            height: 55px;
            width: 55px;
            &:before {
                color: $colorBackgroundDefault;
                margin-top: 13px;
                margin-left: 2px;
            }
        }
        .icon-arrow-carousel {
            font-size: 28px;
            z-index: 1;
        }
    }
    .video-background {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        background: rgba(12, 77, 161, 0.68);
        width: 100%;
        height: 650px;
        display: flex;
        @include mobile {
            height: 269px;
        }
        .icon-play {
            font-size: 125px;
            color: #fff;
            margin: 0 40px;
            @include mobile {
                font-size: 80px;
            }
        }
        span {
            @include font-std(40px, $colorWhite, 400, $fontSecond);
            margin: 0 10px;
            @include mobile {
                padding-top: 20px;
                font-size: 20px;
            }
        }
    }
    .video-nav {
        margin: 40px 0;
        text-align: left;
        .card-img-top {
            cursor: pointer;
            margin-bottom: 10px;
        }
        span {
            @include font-std(20px, $colorBackgroundDefault, 400, $fontSecond);
        }
    }
}

.blog {
    background-color: $colorBackgroundDefault;
    height: 597px;
    width: 100%;
    @include mobile {
        height: auto;
        background-color: unset;
    }
    .bg-color {
        background-color: $colorBackgroundDefault;
        width: 100%;
    }
    span {
        @include font-std(18px, #6F9ED9, 400, $fontPrimary);
        @include mobile {
            @include font-std(14px, $colorWhite, 400, $fontPrimary);
        }
    }
    &--img {
        background-image: url("../images/freud.jpg");
        background-size: cover;
        height: 597px;
        @include mobile {
            background-image: none;
            height: auto;
            padding: 0;
            img {
                width: 100%;
            }
        }
    }
    &--container {
        width: 100%;
        height: 271px;
        padding-left: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include mobile {
            padding-left: 15%;
            padding-bottom: 19px;
        }
    }
    &--title {
        @include font-std(40px, $colorWhite, 400, $fontSecond);
        padding-bottom: 65px;
        @include mobile {
            font-size: 28px;
            padding: 0;
        }
    }
    &--publicacoes {
        @include font-std(28px, $colorBackgroundDefault, 400, $fontSecond);
        padding: 63px 0;
        text-align: center;
    }
    &--container {
        
    }
    .btn-default {
        text-align: center;
        @include mobile {
            font-weight: 400;
            background-color: $colorWhite;
            color: $colorBackgroundDefault;
        }
    }
}

