/**
iconfont Webfont
*/

@font-face {
 font-family: "iconfont";

 src: url('../fonts/iconfont.eot?1578496099585');
 src: url('../fonts/iconfont.eot?#iefix-1578496099585') format('embedded-opentype'),
  url('../fonts/iconfont.woff2?1578496099585') format('woff2'),
  url('../fonts/iconfont.woff?1578496099585') format('woff'),
  url('../fonts/iconfont.ttf?1578496099585') format('truetype');
 font-weight: normal;
 font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
 font-family: 'iconfont';
 display: inline-block;
 vertical-align: middle;
 line-height: 1;
 font-weight: normal;
 font-style: normal;
 speak: none;
 text-decoration: inherit;
 font-size: inherit;
 text-transform: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-arrow-carousel:before {
 content: '\ea01';
}

.icon-arrow-down:before {
 content: '\ea02';
}

.icon-calendar:before {
 content: '\ea03';
}

.icon-close-menu:before {
 content: '\ea04';
}

.icon-close-search:before {
 content: '\ea05';
}

.icon-email:before {
 content: '\ea06';
}

.icon-facebook-mobile:before {
 content: '\ea07';
}

.icon-facebook:before {
 content: '\ea08';
}

.icon-instagram-mobile:before {
 content: '\ea09';
}

.icon-location:before {
 content: '\ea0a';
}

.icon-play:before {
 content: '\ea0b';
}

.icon-search:before {
 content: '\ea0c';
}

.icon-success:before {
 content: '\ea0d';
}

.icon-time:before {
 content: '\ea0e';
}

.icon-twitter-mobile:before {
 content: '\ea0f';
}

.icon-twitter:before {
 content: '\ea10';
}

.icon-user:before {
 content: '\ea11';
}

.icon-whatsapp:before {
 content: '\ea12';
}

.icon-youtube:before {
 content: '\ea13';
}