
//webdoors
.quem-somos {
    background-image: url("../images/webdoor-quem-somos.jpg");
    @include mobile {
        background-image: url("../images/webdoor-quem-somos-mobile.jpg");
    }
}

.formacao {
    background-image: url("../images/webdoor-formacao.jpg");
    @include mobile {
        background-image: url("../images/webdoor-formacao-mobile.jpg");
    }
}

.central-de-vendas {
    background-image: url("../images/webdoor-central-de-venda.jpg");
    @include mobile {
        background-image: url("../images/webdoor-central-de-venda-mobile.jpg");
    }
}

.webdoor-eventos, .webdoor-cursos{
    display: none;
    @include mobile {
        display: block;
        background-image: url("../images/background-eventos.jpg");
    }
}

.webdoor-eventos-internas {
    background-image: url("../images/eventos-internas.jpg");
    @include mobile {
        background-image: url("../images/background-eventos.jpg");
    }
}

.webdoor-cursos-internas {
    background-image: url("../images/webdoor-cursos-interna.jpg");
    @include mobile {
        background-image: url("../images/background-eventos.jpg");
    }
}

.webdoor-biblioteca {
    background-image: url("../images/webdoor-biblioteca.jpg");
    @include mobile {
        background-image: url("../images/webdoor-biblioteca.jpg");
    }
}


.webdoor-institucional {
    background-size: cover;
    height: 500px;
    @include mobile {
        background-size: cover;
        height: 230px;
    }
}

.background-thumb {
    @include mobile {
        background-color: $colorBackgroundThumb;
    }
}

.institucional {
    padding-top: 60px;
    @include mobile {
        padding-top: 0;
    }
    &--title {
        @include font-std(44px, $colorBackgroundDefault, 400, $fontSecond);
        @include mobile {
            font-size: 28px;
        }
    }
    &--text {
        @include font-std(20px, #707070, 400, $fontPrimary);
        line-height: 1.2;
        @include mobile {
            font-size: 18px;
        }
    }
    &--sidenav {
        background-color: #F4F4F4;
        max-height: 700px;
        @include mobile {
            max-height: 760px;
        }
        ul {
            padding-left: 50px;
        }
    }
    p {
        margin: 20px 0;
    }
    li {
        padding: 20px;
        border-left: 8px solid transparent;
        transition: all 0.3s;

        &.active {
            border-left: 8px solid $colorBackgroundDefault;
        }
    }
    a {
        @include font-std(22px, $colorBackgroundDefault, 400, $fontSecond);
    }
    &--container {
        max-width: 800px;
        padding-bottom: 200px;
        padding-top: 35px;
    }
    &--select {
        height: 90px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
        select {
            @include font-std(20px, $colorBackgroundDefault, bold, $fontPrimary);
            padding: 20px 10px;
            border: 1px solid #C4C4C4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
        }
        i {
            font-size: 14px;
            z-index: 1;
            position: absolute;
            transform: rotate(270deg);
            transition: all 0.3s;
            right: 35px;
            color: $colorBackgroundDefault;
        }
    }
}


//Contact Page
.contato {
    &--form {
        @include font-std(18px, #707070, 400, $fontPrimary);
        padding-top: 50px;
        padding-right: 20px;
        @include mobile {
            padding: 20px;
        }
        input, textarea {
            padding: 25px;
            border: 1px solid #707070;
            border-radius: 0;
            background-color: transparent;
            &:focus {
                background-color: transparent;
            }
            &::placeholder {
                font-family: $fontPrimary;
                color: #808080;
            }
        }
        label {
            padding-bottom: 10px;
        }
        .btn-default {
            background-color: $colorBackgroundDefault;
            width: 191.54px;
            height: 58px;
            border: none;
            &:hover {
                opacity: 0.8;
            }
            @include mobile {
                width: 100%;
            }
        }
    }
    &--title {
        padding-top: 60px;
        @include font-std(44px, $colorBackgroundDefault, 400, $fontSecond);
        @include mobile {
            font-size: 28px;
            text-align: center;
            background-color: $colorBackgroundThumb;
            padding-top: 35px;
        }
    }
    &--title-mobile {
        display:none;
        @include font-std(28px, $colorBackgroundDefault, 900, $fontSecond);
        margin: 40px 0;
        @include mobile {
            display:block;
        }
    }
    &--content {
        &--item {
            background-color: $colorBackgroundThumb;
            margin: 30px;
            padding: 30px;
            @include mobile {
                margin: 0;
            }
            &.mobile {
                @include mobile {
                    padding: 0 30px;
                }
            }
            span {
                @include font-std(24px, $colorBackgroundDefault, 900, $fontSecond);
            }
            p {
                @include font-std(16px, #707070, 400, $fontPrimary);
                line-height: 1.2;
            }
            a {
                @include font-std(16px, #707070, 400, $fontPrimary);
                text-decoration: underline;
                transition: none;
                &:hover {
                    color: $colorBackgroundDefault;
                    opacity: 1;
                }
            }
        }
        &--email {
            @include mobile {
                margin-top: 0 !important;
            }
        }
    }
    &--modal-sucess {
        display: none;
        position: absolute;
        top: 100px;
        @include mobile {
            left: 0;
        }
        &--content {
            height: 300px;
        }
        i {
            font-size: 130px;
            color: $colorBackgroundDefault;
        }
        h2 {
            @include font-std(36px, $colorBackgroundDefault, 400, $fontSecond);
            padding-top: 25px;
        }
        p {
            @include font-std(20px, #808080, 400, $fontSecond);
            padding: 0 50px;
        }
    }
}

.eventos {
    &--title {
        @include font-std(52px, $colorBackgroundDefault, 400, $fontSecond);
        @include mobile {
            font-size: 28px;
        }
    }
    &--select {
        height: 50px;
        width: 220px;
        select {
            @include font-std(14px, $colorBlack, 400, $fontPrimary);
            padding: 15px;
            border: 1px solid #C4C4C4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
        }
        i {
            font-size: 14px;
            z-index: -1;
            position: absolute;
            transform: rotate(270deg);
            transition: all 0.3s;
            right: 35px;
            color: $colorBackgroundDefault;
        }
    }
    .btn-default {
        margin: 0 0 20px;
        text-align: center;
        background-color: $colorBackgroundDefault;
    }
}

.cursos {
    &--title {
        @include font-std(52px, $colorBackgroundDefault, 400, $fontSecond);
        @include mobile {
            font-size: 28px;
        }
    }
    &--card-title {
        @include font-std(30px, $colorBackgroundDefault, 400, $fontSecond);
    }
    &--select {
        height: 50px;
        width: 220px;
        select {
            @include font-std(14px, $colorBlack, 400, $fontPrimary);
            padding: 15px;
            border: 1px solid #C4C4C4;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
        }
        i {
            font-size: 14px;
            z-index: -1;
            position: absolute;
            transform: rotate(270deg);
            transition: all 0.3s;
            right: 35px;
            color: $colorBackgroundDefault;
        }
    }
    .btn-default {
        margin: 0 0 20px;
        text-align: center;
        background-color: $colorBackgroundDefault;
    }
    .card {
        border-radius: 0;
        background-color: #f4f4f4;
        border: none;
    }
    &--box-item {
        @include font-std(12px, #707070, 400, $fontPrimary);
        padding: 10px 0;
        i {
            font-size: 20px;
            color: $colorBackgroundDefault;
            padding: 0 10px;
        }
    }
    &--card-rodape {
        span {
            @include font-std(16px, $colorBackgroundDefault, bold, $fontSecond);
        }
    }
    hr {
        width: 95%;
    }
}


.eventos-internas {
    position: relative;
    bottom: 150px;
    @include mobile {
        bottom: 0;
    }
    &--title {
        @include font-std(44px, $colorBackgroundDefault, bold, $fontSecond);
        @include mobile {
            font-size: 27px;
        }
    }
    &--first-title {
        padding: 50px;
        background-color: $colorWhite;
    }
    &--subtitle {
        @include font-std(39px, $colorBackgroundDefault, bold, $fontSecond);
        padding: 50px 0 30px;
        @include mobile {
            font-size: 27px;
        }
    }
    .left {
        @include mobile {
            padding-top: 60px;
        }
        p {
            @include font-std(20px, #707070, 400, $fontPrimary);
            line-height: 29px;
            @include mobile {
                font-size: 18px;
            }
        }
    }
    .right {
        background-color: $colorBackgroundThumb;
        height: 1084px;
        &--time{
            i {
                font-size: 20px;
                color: $colorBackgroundDefault;
                padding-right: 5px;
            }
        }
        &--social{
            i {
                font-size: 25px;
                color: $colorBackgroundDefault;
                padding: 0 20px;
            }
            .icon-email {
                font-size: 20px;
            }
        }
        span {
            @include font-std(18px, #707070, 400, $fontPrimary);
            @include mobile {
                font-size: 12px;
            }
        }
        strong {
            @include font-std(21px, $colorBackgroundDefault, bold, $fontPrimary);
        }
    }
    .btn-default {
        margin: 25px auto;
        padding: 28px 15px;
        background-color: $colorBackgroundDefault;
        text-align: center;
        font-weight: bold;
        width: 228px;
        height: 70px;
        @include mobile {
            width: 100%;
        }
    }
    .event-type {
        @include font-std(18px, #707070, 400, $fontPrimary);
        padding: 10px 0;
    }
}

.biblioteca {
    &--sidenav {
        .nav-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i {
                font-size: 14px;
                z-index: 1;
                transform: rotate(270deg);
                transition: all 0.3s;
                right: 35px;
                color: $colorBackgroundDefault;
                -webkit-transition: -webkit-transform .4s ease-in-out;
                -ms-transition: -ms-transform .4s ease-in-out;
                transition: transform .4s ease-in-out;
            }
            &[aria-expanded="true"] {
                i{
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                }
            }
            &.active {
                font-weight: bold;
            }
        }
        #v-pills-tab {
            ul {
                padding-left: 0 !important;
            }
        }
    }
}

#v-pills-posts {
    @include mobile {
       padding: 0;
    }
}
.posts {
    &--content {
        padding: 70px 0;
        background-color: $colorBackgroundThumb;
        @include mobile {
            margin-top: 48px;
        }
    }
    &--background {
        background-color: $colorBackgroundThumb;
        position: absolute;
        background-color: #F4F4F4;
        width: 100vw;
        top: 193px;
        height: 753px;
        @include mobile {
            display: none;
        }
    }
    .institucional {
        &--container {
            width: 900px;
            @include mobile {
                width: 100%;
            }
        }
        &--text {
            p {
                margin: 45px 0;
                @include mobile {
                    padding:0 60px;
                    margin: 0 0 45px;
                }
            }
        }
        &--title {
            @include mobile {
                padding: 60px;
            }
        }
    }
    .latest-posts--img-opacity {
        width: 186px;
        height: 266px;
        left: 19px;
        top: 12px;
        padding: 0 23px;
    }
    .btn-default{
        @include font-std(14px, $colorWhite, bold, $fontPrimary);
        width: 226px;
        height: 70px;
        padding: 27px 0;
        text-align: center;
        background-color: $colorBackgroundDefault;
        @include mobile {
            font-size: 16px;
            width: 83%;
            margin-bottom: 20px;
            background-color: $colorBlueDefault;
            font-weight: 400;
        }
    }
    &--buttons {

        a {
        }
    }
    &--revistas {
        padding: 30px 0;
        margin-top: 20px;
        background-color: $colorBackgroundThumb;
        .latest-posts--img-opacity {
            width: 139px;
            height: 198px;
            left: 15px;
            top: 10px;
            padding: 0 18px;
            .caption {
                font-size: 12px;
                b {
                    font-size: 16px;
                }
            }
        }
    }
}

.page-blog {
    &--title {
        @include font-std(52px, $colorBackgroundDefault, bold, $fontSecond);
        text-align: center;
        margin: 65px 0;   
    }
    &--card-main, &--card-hover {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $colorBackgroundDefault;
        padding: 15px;
        @include font-std(14px, $colorWhite, 400, $fontPrimary);
        span {
            padding: 15px;
        }
        h2 {
            @include font-std(48px, $colorWhite, 400, $fontSecond);
            padding: 16px;
        }
        a {
            @include font-std(18px, $colorWhite, 200, $fontPrimary);
            text-decoration: underline;
            padding: 20px;
        }
    }

    &--card-hover {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 45px;
        background-color: rgba(0, 102, 140, 0.8);
        opacity: 0;
        a {
            @include font-std(16px, $colorWhite, 400, $fontPrimary);
            background-color: $colorBlueDefault;
            padding: 10px 38px;
            margin: 0 10px;
            border-radius: 30px;
            text-decoration: none;
        }
        h2 {
            font-size: 32px;
        }
    }

    hr {
        margin: 25px 0;
    }

    &--pagination {
        .page-link {
            @include font-std(16px, #6A6A6A, bold, $fontPrimary);
            border-radius: 4px;
            border-color: rgba(0,102,140,0.3);
        }
        .page-item {
            margin: 0 5px;
        }
    }

    &--categorias {
        background-color: rgba(0, 102, 140, 0.1);
        &--title {
            @include font-std(36px, $colorBackgroundDefault, bold, $fontSecond);
            padding: 50px 0;
        }
        a {
            @include font-std(16px, $colorWhite, 400, $fontPrimary);
            background-color: $colorBlueDefault;
            padding: 10px 38px;
            margin: 10px;
            border-radius: 30px;
            text-decoration: none;
        }
        &--right {
            a {
                width: fit-content;
            }
        }
        &--left {
            a {
                max-width: 150px;
            }
        }
    }
}
