$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBackgroundDefault: #00668C;
$colorBlueDefault: #00A0DC;
$colorBackgroundThumb: #F4F4F4;

$fontPrimary: "Roboto", Helvetica, Arial, sans-serif;
$fontSecond: "Rotis SemiSerif Std";
$fontThird: "Rotis Sans Serif Std";